apiVersion: apps/v1
kind: Deployment
metadata:
  name: newsugar-mysql
spec:
  replicas: 1
  selector:
    matchLabels:
      app: newsugar-mysql
  template:
    metadata:
      labels:
        app: newsugar-mysql
    spec:
      containers:
        - name: mysql
          image: mysql:8.0
          env:
            - name: MYSQL_DATABASE
              value: "news_db"
            - name: MYSQL_USER
              value: "user"
            - name: MYSQL_PASSWORD
              value: "qwer1234"
            - name: MYSQL_ROOT_PASSWORD
              value: "root_password"
          ports:
            - containerPort: 3306
          volumeMounts:
            - name: mysql-data
              mountPath: /var/lib/mysql
      volumes:
        - name: mysql-data
          persistentVolumeClaim:
            claimName: mysql-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: newsugar-mysql
spec:
  ports:
    - port: 3306
      targetPort: 3306
  selector:
    app: newsugar-mysql
